<%- include('header') -%>

<h1>Undir&shy;skriftar&shy;listi — umsjón</h1>
<div class="userInfo">
  <p>Insskráður sem: <b><%= name %></b></p>
  <a href="/logout" class="hrefButton">Útskrá</a>
</div>

<section class="list">
  <h2>Undirskriftir</h2>
  <h3>Fjöldi undirskrifta: <%= rowLenght %></h3>
  <div class="registration">
    <% if (registrations.length === 0) { %>
      <p>Engar undirskriftir.</p>
    <% } else { %>
      <table>
        <tr>
          <th>Dags</th>
          <th>Nafn</th>
          <th>Athugasemd</th>
          <th>Eyða</th>
        </tr>
        </tr>
        <% registrations.forEach((row) => { %>
          <tr>
            <td class="date"><%= formatDate(row.signed) %></td>
            <td class="name"><%= row.anonymous ? 'Nafnlaust' : row.name %></td>
            <td class="comment"><%= row.comment %></td>
            <td class="delete">
              <form method="post" action="/admin" enctype="application/x-www-form-urlencoded">
                <button class="deleteButton" name="nationalid" type="submit" value="<%= row.nationalid %>">Eyða</button>
              </form>
            </td>
          </tr>
        <% }) %>
        </tr>
      </table>
    <% } %>
  </div>
  <div class="tableFooter">
    <% if (page === 1) { %>
      <a href="javascript:void(0)" class="hrefButton">Fyrri síða</a>
    <% } else { %>
      <a href="?page=<%= page - 1 %>" class="hrefButton">Fyrri síða</a>
    <% } %>
    <p>Síða <%= page %> af <%= Math.ceil(rowLenght/50) %></p>
    <% if (registrations.length === 50) { %>
      <a href="?page=<%= page + 1 %>" class="hrefButton">Næsta síða</a>
    <% } else { %>
      <a href="javascript:void(0)" class="hrefButton">Næsta síða</a>
    <% } %>
  </div>
</section>

<%- include('footer') -%>